.option--tag{
    opacity:0;

}
.radio--div--tag{
    padding: 2%;
    color:rgb(0, 0, 0);
    border-radius:10px;
    cursor: pointer;
    text-align: center;

}
.radio--div--tag:hover{
    transition: 0.6s;
    padding:2%;
    background-color: rgba(4, 52, 14, 0.164);
    color:rgb(0, 0, 0);
    border-radius:10px;
    cursor: pointer;
    
 
}

.active{
    transition: 0.6s;
    padding:2%;
    background-color: rgba(4, 52, 14, 0.164);
    color:rgb(0, 0, 0);
    border-radius:10px;
    cursor: pointer;
    
 
}